h1 {
    text-align: center;
    font-size: 35px;
    background-color: aquamarine;
}
.disclaimer {
    color:red;
}
.recipetime {
    font-size: 20px;

}
.baked {
    background-color: forestgreen;
}
.greek {
    background-color: cadetblue;
}
.lemon {
    background-color:palevioletred;
}
img {
    margin: auto;
    display: block;
}
.ingredients {
    font-size: 30px;
}
.steps {
    font-size: 30px;
}